numpy
torch
spacy>=3.0.0
transformers==4.3.2
Cython
tqdm
# neuralcoref==4.0
argparse
scikit-learn
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
pytest
